/* App.css */

/* General styling */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1, h2, h3 {
  color: #ffffff;
  text-align: center;
}

a {
  color: #90caf9;
  text-decoration: none;
}

a:hover {
  color: #64b5f6;
}

/* Centering form containers */
.form-container, .signup-container {
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

input[type="text"], input[type="number"], input[type="password"] {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #e0e0e0;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
  color: #888;
}

/* Button styling */
button {
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1e88e5;
}

button:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.forgot-password-button {
  background: none;
  border: none;
  color: #90caf9;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  padding: 0;
}

.forgot-password-button:hover {
  color: #64b5f6;
}

/* DarkModeToggle Component */
.dark-mode-toggle {
  text-align: center;
  margin-top: 20px;
}

/* Specific component styling */
.signup-container {
  text-align: center;
}

canvas {
  border: 1px solid #888;
  background-color: #2b2b2b;
  width: 200px; /* Make the canvas square */
  height: 200px;
}

/* Spacing adjustments */
input,
button {
  margin-bottom: 15px;
}

/* HomePage styling */
.homepage {
  text-align: center;
  padding: 20px;
}

.homepage h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Signup and Login Button Styles */
.homepage a {
  display: inline-block;
  margin: 15px;
  padding: 15px 25px;
  font-size: 1rem;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.homepage a:hover {
  background-color: #303f9f;
  transform: translateY(-3px);
}

.homepage a:active {
  transform: translateY(1px);
}
